/*
* File: enterprises.css
* Purpose: Provide location Graphics.
* License: GPL v3.
* Pesquini Group 6
* FGA - UnB Faculdade de Engenharias do Gama - University of Brasilia.
*/

.graphics{
  padding-top: 2cm;
}